<section class="contact-us">
    <div class="container">
        <div class="contact-us__body">
            <div class="contact-us__owl owl">
                <div class="owl__phrase">
                    <div class="owl__text">
                        <span>Помочь с выбором?</span>
                        <span>Оставьте заявку и наши специалисты свяжутся с вами, ответят на все вопросы и подберут подходящий вариант обучения.</span>
                    </div>
                    <span class="owl__phrase-triangle"></span>
                </div>
                <img src="images/owl.png" alt="" class="owl__image">
            </div>
            <form class="contact-us__form form" action="#" method="POST">
                <div class="form__field">
                    <input type="text" class="form__input" name="name" placeholder="Ваше имя" autocomplete="off">
                </div>
                <div class="form__field">
                    <input type="phone" class="form__input" name="phone" placeholder="Ваше телефон" autocomplete="off">
                </div>
                <div class="form__field">
                    <input type="e-mail" class="form__input" name="mail" placeholder="Ваше e-mail" autocomplete="off">
                </div>
                <p class="form__agreement">Нажимая на кнопку, я соглашаюсь на обработку персональных данных и с правилами пользования Платформой</p>
                <button class="form__button button button--contained" type="submit">
                    <span>Отправить</span>
                </button>
            </form>
        </div>
    </div>
</section>