<section class="courses">
    <div class="courses__container container">
        <div class="courses__owl owl">
            <div class="owl__phrase">
                <div class="owl__text">
                    <span>Кем вы хотите стать?</span>
                    <span>
                    Пора найти себя 
                    и выбрать подходящий курс :)
                    </span>
                    <span>Удачи!</span>
                </div>
            </div>
            <img src="images/owl.png" alt="" class="owl__image">
        </div>
        <div class="courses__tab tab">
            <div class="tab__panel">
                <button class="courses__category category tab__button tab__button--active" type="button" data-value="children" data-num="first">
                    <img src="images/courses-children.png" class="category__icon">
                    <span class="category__name">Дети</span>
                    <div class="category__age">8 — 14 лет</div>
                </button>
                <button class="courses__category category tab__button" type="button" data-value="teens" data-num="second">
                    <img src="images/courses-teens.png" class="category__icon">
                    <span class="category__name">Подростки</span>
                    <div class="category__age">14 — 18 лет</div>
                </button>
                <button class="courses__category category tab__button" type="button" data-value="adults" data-num="third">
                    <img src="images/courses-adults.png" class="category__icon">
                    <span class="category__name">Взрослые</span>
                    <div class="category__age">18 — ∞</div>
                </button>
                <span class="tab__line"></span>
            </div>
            <div class="tab__pages">
                <div class="tab__page tab__page--first tab__page--active">
                    <ul class="courses__list">
                        <li class="courses__item">
                            <div class="button button--gradient">
                                <span>Робототехника</span>
                            </div>
                        </li>
                        <li class="courses__item">
                            <div class="button button--gradient">
                                <span>Создание игр</span>
                            </div>
                        </li>
                        <li class="courses__item">
                            <div class="button button--gradient">
                                <span>Web-разработка</span>
                            </div>
                        </li>
                        <li class="courses__item">
                            <div class="button button--gradient">
                                <span>Мультимедиа</span>
                            </div>
                        </li>
                        <li class="courses__item">
                            <div class="button button--gradient">
                                <span>Шахматы</span>
                            </div>
                        </li>
                        <li class="courses__item">
                            <div class="button button--gradient">
                                <span>3D-моделирование и дизайн</span>
                            </div>
                        </li>
                        <li class="courses__item">
                            <div class="button button--gradient">
                                <span>Английский язык</span>
                            </div>
                        </li>
                        <li class="courses__item">
                            <div class="button button--gradient">
                                <span>Блогинг</span>
                            </div>
                        </li>
                        <li class="courses__item">
                            <div class="button button--gradient">
                                <span>Soft skills</span>
                            </div>
                        </li>
                    </div>
                </div>
                <div class="tab__page tab__page--second">
                    <ul class="courses__list">
                        <li class="courses__item">
                            <div class="button button--gradient">
                                <span>Робототехника</span>
                            </div>
                        </li>
                        <li class="courses__item">
                            <div class="button button--gradient">
                                <span>Создание игр</span>
                            </div>
                        </li>
                        <li class="courses__item">
                            <div class="button button--gradient">
                                <span>Web-разработка</span>
                            </div>
                        </li>
                        <li class="courses__item">
                            <div class="button button--gradient">
                                <span>Мультимедиа</span>
                            </div>
                        </li>
                        <li class="courses__item">
                            <div class="button button--gradient">
                                <span>Шахматы</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab__page tab__page--third">
                    <ul class="courses__list">
                        <li class="courses__item">
                            <div class="button button--gradient">
                                <span>3D-моделирование и дизайн</span>
                            </div>
                        </li>
                        <li class="courses__item">
                            <div class="button button--gradient">
                                <span>Английский язык</span>
                            </div>
                        </li>
                        <li class="courses__item">
                            <div class="button button--gradient">
                                <span>Блогинг</span>
                            </div>
                        </li>
                        <li class="courses__item">
                            <div class="button button--gradient">
                                <span>Soft skills</span>
                            </div>
                        </li>
                    </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>