<section class="mini-blog">
    <div class="container">
        <div class="mini-blog__content">
            <article class="mini-blog__subject mini-blog__subject--full-width subject subject--darkorange subject--wide">
                <div class="subject__date">
                    <span class="subject__date-day">25</span>
                    <span class="subject__date-month">ноября</span>
                </div>
                <h4 class="subject__name">День открытых дверей </h4>
                <div class="subject__desc">Приглашаем всех желающих на бесплатную экскурсию в мир востребованных профессий и полезных навыков</div>
                <div class="subject__button button">
                    <span>Записаться</span>
                    <svg class="icon subject__button-arrow">
                        <use href="images/svg-icons.svg#arrow"></use>
                    </svg>
                </div>
            </article>
            <article class="mini-blog__subject mini-blog__subject--vertical subject subject--blue subject--vertical">
                <img src="images/subject-1.png" class="subject__icon">
                <h4 class="subject__name">Программы обучения</h4>
                <div class="subject__desc">В списке наших курсов вы сможете найти профессию и занятие по душе, изучить новое и получить практические знания, которые помогут получить работу мечты.</div>
                <div class="subject__button button">
                    <span>Подробнее</span>
                    <svg class="icon subject__button-arrow">
                        <use href="images/svg-icons.svg#arrow"></use>
                    </svg>
                </div>
            </article>
            <article class="mini-blog__subject subject subject--green subject--normal">
                <img src="images/subject-2.png" class="subject__icon">
                <h4 class="subject__name">Новости Академии</h4>
            </article>
            <article class="mini-blog__subject subject subject--rose subject--normal">
                <img src="images/subject-3.png" class="subject__icon">
                <h4 class="subject__name">Мир IT</h4>
            </article>
            <article class="mini-blog__subject mini-blog__subject--horizontal subject subject--lightorange subject--horizontal">
                <img src="images/subject-4.svg" class="subject__icon">
                <h4 class="subject__name">Попробуй</h4>
                <div class="subject__desc">Пройдите тест и узнайте свои способности в сфере информационных технологий</div>
            </article>
        </div>
    </div>
</section>