<section class="stat">
    <div class="container">
        <h2 class="stat__title">Актуальные знания от признанных экспертов рынка для новичков и практикующих специалистов.</h2>
        <div class="stat__list">
            <div class="stat__list-item stat-item">
                <div class="stat-item__value">600</div>
                <div class="stat-item__name">Курсов</div>
            </div>
                  <div class="stat__list-item stat-item">
                <div class="stat-item__value">82</div>
                <div class="stat-item__name">Ведущих преподователей</div>
            </div>
                  <div class="stat__list-item stat-item">
                <div class="stat-item__value">14795</div>
                <div class="stat-item__name">Выпусников</div>
            </div>
        </div>
    </div>
</section>