<section class="welcome section">
    <div class="section__header">
        <div class="container">
            <h2 class="section__title">Добро пожаловать в Академию будущего ХОД</h2>
        </div>
    </div>
    <div class="welcome__body section__body">
        <div class="container">
            <div class="welcome__advantages">
                <div class="welcome__advatage-item advantage">
                    <div class="advantage__icon">
                        <img src="images/advantage-1.svg" alt="">
                    </div>
                    <p class="advantage__desc">Передовой подход к образовательному процессу</p>
                </div>
                <div class="welcome__advatage-item advantage">
                    <div class="advantage__icon">
                        <img src="images/advantage-2.svg" alt="">
                    </div>
                    <p class="advantage__desc">Непрерывное усовершенствование и пополнение базы курсов</p>
                </div>
                <div class="welcome__advatage-item advantage">
                    <div class="advantage__icon">
                        <img src="images/advantage-3.svg" alt="">
                    </div>
                    <p class="advantage__desc">Только практикующие преподаватели</p>
                </div>
                <div class="welcome__advatage-item advantage">
                    <div class="advantage__icon">
                        <img src="images/advantage-4.svg" alt="">
                    </div>
                    <p class="advantage__desc">Сопровождение на всех этапах. От начала обучения до трудоустройства</p>
                </div>
            </div>
        </div>
    </div>
</section>