<ul class="socials">
    <li class="socials__item">
        <a href="#" class="socials__item-link">
            <svg class="socials__item-icon">
                <use href="images/svg-icons.svg#vk"></use>
            </svg>
        </a>
    </li>
    <li class="socials__item">
        <a href="#" class="socials__item-link">
            <svg class="socials__item-icon">
                <use href="images/svg-icons.svg#instagram"></use>
            </svg>
        </a>
    </li>
    <li class="socials__item">
        <a href="#" class="socials__item-link">
            <svg class="socials__item-icon">
                <use href="images/svg-icons.svg#facebook"></use>
            </svg>
        </a>
    </li>
    <li class="socials__item">
        <a href="#" class="socials__item-link">
            <svg class="socials__item-icon">
                <use href="images/svg-icons.svg#youtube"></use>
            </svg>
        </a>
    </li>
        <li class="socials__item">
        <a href="#" class="socials__item-link">
            <svg class="socials__item-icon">
                <use href="images/svg-icons.svg#telegram"></use>
            </svg>
        </a>
    </li>
</ul>